<div class='game-table'>
    <div class="game-top">
        <div class='player-2'>
            <app-player [playerIndex]="2" [buyStackPosition]="buyStackPosition"></app-player>
        </div>
    </div>
    <div class='game-center'>
        <div class="game-center-left">
            <div class='player-3'>
                <app-player [playerIndex]="3" [buyStackPosition]="buyStackPosition"></app-player>
            </div>
        </div>
        <div class='card-area'>
            <button (click)="startGame()">Start Game</button>
            <div #divBuyStack class="buy-card-stack">
                <img [src]="'assets/img/cards/back-' + (topCardBuyStack$ | async)?.backColor + '.svg'" width="100px"
                    *ngIf="(topCardBuyStack$ | async)" (click)="onClickBuyStack()">
            </div>
            <br style="clear: both;">
            <div class="discard-pile-wrapper">
                <div class="discard-pile" #divDiscardPile>
                    <div *ngFor="let card of discardPile$ |async; let i = index">
                        <img [src]="'assets/img/cards/' + card?.image"
                            [@discardCardPlayer]="{value: stateDiscardCardAnimation[i], params: {'transformParam': transformCardEndPosition[i]}}"
                            [style]="{ transform: transformCardStartPosition[i] }" width="100px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="game-center-right">
            <div class='player-1'>
                <app-player [playerIndex]="1" [buyStackPosition]="buyStackPosition"></app-player>
            </div>
        </div>
    </div>
    <div class="game-botton">
        <div class='player-0'>
            <app-player [playerIndex]="0" [buyStackPosition]="buyStackPosition"></app-player>
        </div>
    </div>
</div>

<router-outlet></router-outlet>