
.game-table{
    display: flex;
    flex-direction: column;
}

.game-top, .game-botton{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-center{
    display: flex;
    min-height: calc(100vh - 40vh);
}

.card-area{
    flex-grow: 6;
}

.game-center-left, .game-center-right{
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.buy-card-stack{
    flex-grow: 2;
}
.buy-card-stack  div{
    float: left;
    width: 0px;
}

.card{
    float: left; 
    width: 15px;
}