
.game-table{
    display: flex;
    flex-direction: column;
}

.game-top, .game-botton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-top{
    min-height: 10vh;
}

.game-botton{
    min-height: 20vh;
}

.game-top div{
    transform: translate(0, -50%);
}

.game-center{
    display: flex;
    min-height: calc(100vh - 30vh);
}

.card-area{
    flex-grow: 6;
}

.game-center-left, .game-center-right{
    display: flex;
    align-items: center;
    width: calc(100vh - 90vh);
}
.game-center-left div{
    transform: translate(-50%, 0);
}

.game-center-right div{
    transform: translate(50%, 0);
}

.buy-card-stack{
    float: right;
}

.discard-pile-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discard-pile, .discard-pile div{
    width: 0;
    height: 0;
}